.box{
  border: 1px solid black;
  width: 500px;
}

.item-img{
  width: 400px;
}

.main{
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.button{
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 1em;
}